<% def writeAndGetRelativeURI(im)
       getImageData(im)[:path].relative_uri_from(adrPageTable[:sheetLoc])
   end %>

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
	background-color: #ffffff;
}

h1 {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 28px;
  line-height: 40px;
  margin-top: 40px;
}

h3 {
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

li {
  line-height: 27px;
}


code,
pre {
  padding: 4px 6px 4px 6px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

del {
	color: #aaaaaa;
}

.navbar-static-top {
  position: static;
  width: 100%;
  margin-bottom: 10px;
  margin-top: -60px;
}


.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  font-size: bold;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #dddddd;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #dddddd;
  text-decoration: none;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 8px;
  margin-bottom: 0px;
}

.hero-unit {
  padding: 0px;
  margin-bottom: 30px;
  height: 180px;
  background: #ffffff url(<%= writeAndGetRelativeURI("banner") %>) 0 0 no-repeat;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-unit h1 {
  margin-bottom: 0px;
  padding-left: 450px;
  padding-top: 100px;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1px;
  color: #ffffff;
}

.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  padding-left: 450px;
  color: #ffffff;
}

.breadcrumbs {
	float: left;
}

.flattr {
	float: left;
}

.nextprev {
	float: right;
}

.small {
	font-size: 12px;
	line-height: 18px;
}

.footer {
	font-size: 12px;
	border-top: 1px solid;
	text-align: center;
}

.container .blogpost {
	padding-top: 20px;
	padding: 20px;
}

.container .essay {
	background-color: #fafafa;
	padding: 20px;
}

.container .photo {
	background-color: #333333;
	padding: 20px;
	color: #ffffff;
}

.container .galerie {
	background-color: #333333;
	padding: 20px;
	color: #ffffff;
}

.galerie-inner {
	width: 560px;
	margin: 0 auto;
}

/* Kein Bootstrap CSS */

/* Die Subnavigation am Fuß der Seite (noch im Content) */

#subnav {
	font-size: 12px;
}

#subnav ul {
	padding: 6px;
	margin-left: 0;
	border: 1px solid #aaa;
}

#subnav ul li {
	list-style: none;
	margin: 0;
	display: inline;
	padding-right: 15px;
}

.footnotes {
  font-size: 90%;
  border-top: 1px solid;
  margin-top: 20px;
}

.noteright {
	float: right;
	padding: 8px;
	margin-left: 8px;
	border: 1px solid;
	width: 200px;
  	background: #ffff00 url(<%= writeAndGetRelativeURI("nadel") %>) top right no-repeat;
}

.noteleft {
	float: left;
	padding: 8px;
	margin-right: 8px;
	border: 1px solid;
	width: 200px;
  	background: #ffff00 url(<%= writeAndGetRelativeURI("nadel") %>) top right no-repeat;
}


a.wp {
	background: url(<%= writeAndGetRelativeURI("wikipedia") %>) center left no-repeat;
	padding-left: 13px;
	important!;
}

a.amazon {
	background: url(<%= writeAndGetRelativeURI("amazon-icon") %>) center right no-repeat;
	padding-right: 18px;
	important!;
}
