<% def writeAndGetRelativeURI(im)
       getImageData(im)[:path].relative_uri_from(adrPageTable[:sheetLoc])
   end %>

h2 {
	font-size: 26px;
	line-height: 40px;
	margin-top: 40px;
}

h3 {
	font-size: 22px;
	line-height: 40px;
}

.title {
	text-align: left;
	font-size: 150%;
	margin-top: 20px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid;
}

#table-of-contents {
	float: right;
	width: 250px;
	margin-top: -40px;
	margin-left: 1em;
	border: 1px solid;
	padding: 1em;
	background-color: #eee;
}

#text-table-of-contents {font-size: 90%;}
#table-of-contents h2 {
	font-size: 110%;
	margin-top: 0px;
}

.todo   { color: red; }
.done   { color: green; }
.tag    { background-color: #add8e6; font-weight:normal }
.target { }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.right  {margin-left:auto; margin-right:0px;  text-align:right;}
.left   {margin-left:0px;  margin-right:auto; text-align:left;}
.center {margin-left:auto; margin-right:auto; text-align:center;}

p.verse { margin-left: 3% }

pre {
	border: 1pt solid #AEBDCC;
	background-color: #F3F5F7;
	padding: 5pt;
	font-family: courier, monospace;
	font-size: 90%;
	overflow:auto;
}

table { border-collapse: collapse; }
td, th { vertical-align: top;  }
th.right  { text-align:center;  }
th.left   { text-align:center;   }
th.center { text-align:center; }
td.right  { text-align:right;  }
td.left   { text-align:left;   }
td.center { text-align:center; }
dt { font-weight: bold; }

div.figure {
	padding: 0.5em;
}

div.figure p {
	text-align: center;
	font-style: italic;
}

div.inlinetask {
	padding:10px;
	border:2px solid gray;
	margin:10px;
	background: #ffffcc;
}

textarea { overflow-x: auto; }

.linenr { font-size:smaller }
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold; white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000; font-weight:bold; }

#postamble {
	font-size: 90%;
	border-top: 1px solid;
	margin-top: 20px;
}